body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0 50%;
    }
}

#btn {
    background-color: #ff4d00;
    position: absolute;
    margin: auto;
    margin-top: 140px;
    margin-right: -400px;
    min-width: 140px;
    width: 140px;
    height: 40px;
}

#btn1 {
    background-color: #ee0000;
    position: absolute;
    margin: auto;
    margin-top: 140px;
    margin-right: -800px;
    min-width: 156px;
    width: 156px;
    height: 40px;
}

#a1 {
    color: #000;
    text-decoration: none;
    margin: auto;
}

#table {
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#table2 {
    display: flex;
    width: 688px;
}

#table3 {
    display: flex;
    justify-content: center;
    min-width: 230px;
    max-width: inherit;
    width: 300px;
}

input[type=number]::-webkit-inner-spin-button,

input[type=number]::-webkit-outer-spin-button {

-webkit-appearance: none;

   margin: 0;

}

.inp {
    width: 67px;
}

#a {
    color: #000;

}

.answer {
    width: 80px;
}
